/*
NOTE: The default font(sans-serif) and colors of elements are not modified. You need to modify them
by applying separate css styles, if needed.
 */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: 0;
}
html,
body {
    font-family: sans-serif;
    height: 100%; /* so that 'main' container can be set to 100% height
    /*font-family: 'Montserrat', sans-serif;*/   /*font-family: 'Scope One', serif;*/
}


/**********************************************top NavBar styles begins*********************************************/
.top-nav-container{
    position: fixed; /* it should always remain at the top */
    display: flex; /*make it a flex container for easy layout of items inside it */
    width: 100vw;  /* make the width occupy entire screen */
    height: 4rem; /* the top navigation bar is set to height of 64px for small screens */
    align-items: center; /* center the items vertically */
    z-index: 100; /* above everything else except SideNav bar */
}
.top-nav-toggle-menu-icon{
    font-size: 30px;
    margin-right: 30px;/* gap from brand logo */
    margin-left: 10px; /*gap from left side of container*/
    cursor: pointer;
}

.top-nav-brand-link img{ /* the brand banner img must be 250x50px */
    width: 250px;
    height: 50px;
}
/**********************************************top NavBar styles ends***********************************************/


/**********************************************side NavBar styles begins********************************************/
.side-nav-container{
    width: 19rem; /* width of container ~ 290 px*/
    height: 100vh; /* occupy entire view-height*/
    z-index: 100; /* above everything else, same level as top nav-bar */
    position: fixed;/* so that it remains fixed at side and the main content is displayed below it(smaller screens) */
    display: flex;
    flex-direction: column;
    align-items: center;
    left: -19rem; /* keep it hidden until menu icon is pressed */
    -webkit-transition: left 250ms cubic-bezier(1,0,0,1);
    -moz-transition: left 250ms cubic-bezier(1,0,0,1);
    -ms-transition: left 250ms cubic-bezier(1,0,0,1);
    -o-transition: left 250ms cubic-bezier(1,0,0,1);
    transition: left 250ms cubic-bezier(1,0,0,1);/* for smooth display of side menu */
    top: 4rem; /* make offset for accounting the top navbar(for both smaller & larger screens) */
    overflow-x: hidden; /* Disable horizontal scroll */
}

.side-nav-container-open{ /* this rule is toggled, via javascript, when top navbar menu icon is clicked
                            so that the sidenav menu is displayed/hidden(both small & large screens)*/
    left: 0;
}
.side-nav-header{} /*not used yet*/
.side-nav-header img{ /* the size of header background image must be 300x200px */
    width: 300px;/* width of image must be 300px*/
    height: 200px;/* height of image must be 200px*/
    background-size: cover; /*stretch the image to fit the width of header, if needed*/
    background: center,no-repeat;
}
.side-nav-menu{ /* div wrapper for menu links */
    width: 100%; /* div must occupy entire width of SideNav bar */
    text-align: center; /* center the links text */
    overflow: auto; /* display scroll bar if menu list items are more */
}
.side-nav-menu__list{
    list-style: none;
}
.side-nav-menu__list li{
    margin-bottom: 1rem; /* gap between two link items */
    -webkit-transition: background-color 200ms;
    -moz-transition: background-color 200ms;
    -ms-transition: background-color 200ms;
    -o-transition: background-color 200ms;
    transition: background-color 200ms;/* for displaying a background below the list item */
}
.side-nav-menu__list li:hover{
    background-color: azure;/* for displaying a background below the list item */
}
.side-nav-menu__list a{
    text-decoration: none;
    font-size: 1.2rem; /* font size of links text */
    text-transform: capitalize; /* capitalize the first letter of links text */
    -webkit-transition: font-size 100ms, color 100ms;
    -moz-transition: font-size 100ms, color 100ms;
    -ms-transition: font-size 100ms, color 100ms;
    -o-transition: font-size 100ms, color 100ms;
    transition: font-size 100ms, color 100ms;/* text pops out, color changes when hovered */

}
.side-nav-menu__list li:hover a{
    color: #536dfe ;/* change color of link when hovered */
}

/**********************************************Main body styles begins********************************************/
.main-container{ /* this rule will apply common to all screen sizes,namely, adjustment for top navbar */
    /* for smaller screens only adjustment is needed for top navbar and not for header and footer also
     i.e the side navbar will be displayed above, and consequently,cover the header and footer*/
    /*position: relative; !* so that it can be set away from top navbar and side navbar(in case of larger screens)*!*/
    /*to account for the top navbar i.e display everything just below the top navbar */
    min-height: 100%;/* so keep the footer at the bottom of the page,just below the main container
                        but then, a negative margin-top is applied to footer container so that it is visible on screen*/

    padding: 4.2rem 0.6rem 6rem; /* avoid colliding with the navs and some side padding to look nice
                                bottom padding of 6rem so that the content of main-container doesn't disappear
                                 below the footer, becoz of negative margin-top applied on footer if the content is
                                  large. Note that padding is equal to footer's height*/
    -webkit-transition: margin-left 250ms cubic-bezier(1,0,0,1);
    -moz-transition: margin-left 250ms cubic-bezier(1,0,0,1);
    -ms-transition: margin-left 250ms cubic-bezier(1,0,0,1);
    -o-transition: margin-left 250ms cubic-bezier(1,0,0,1);
    transition: margin-left 250ms cubic-bezier(1,0,0,1);
}
.main-container-offset{
    margin-left: 19rem;
}
/**********************************************Main body styles ends********************************************/

/**********************************************side NavBar styles ends********************************************/


/**********************************************Footer styles begins********************************************/
.footer{
    z-index: 10;
}
.footer-container{
    display: flex;
    /*width: 100vw; !* footer takes full view-width; side-menu appears over it(only on smaller screens)*!*/
    height: 6rem; /*height of footer is 80px */
    margin-top: -6rem; /* bring back the footer into the view by pulling it up by height equal to itself*/
    flex-direction: column;
    justify-content: space-around;

}
.footer-nav-list{
    display: flex;
    justify-content: space-around;
    z-index: 1; /* this needs to be there so that links works perfectly */
}
.footer-nav-list li{
    list-style: none;
}
.footer-nav-list a{
    text-decoration: none;
}
.footer-nav-list a:hover{
    color: white;
}

.footer-social-links-list{
    display: flex;
    justify-content: center;
    list-style: none;
    z-index: 1; /* this needs to be there so that links works perfectly */

}
.footer-social-links-list li{
    padding: 0 .2rem;
    font-size: 1.3rem;
}
.footer-social-links-list a:hover{
    color: white;
}

.footer-copyright-text{
    text-align: center;
    font-size: 0.7rem;
    font-style: italic;
}
/**********************************************Footer styles ends********************************************/


/**********************************************Responsive Rules begins********************************************/
@media screen and (min-width: 776px){
    .main-container{
        /*larger side padding on larger screens */
        padding-right: 1rem;
        padding-left: 1rem;
    }
}
/**********************************************Responsive Rules ends********************************************/


/**********************************************general styles begins**********************************************/
.backdrop{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; /* initially keep it below everything */
    -webkit-transition: background-color 300ms;
    -moz-transition: background-color 300ms;
    -ms-transition: background-color 300ms;
    -o-transition: background-color 300ms;
    transition: background-color 300ms; /* the background gradually becomes darker */

}
.show-backdrop{
    z-index: 99; /* show it above everything except top(z=100) and side(z=100) NavBar */
    background-color: rgba(0,0,0,.8);
}

/* gives a padding of 1rem on all sides*/
.wrapper{
    padding: 1rem 1rem;
}

/*text color of indigo shades */
.indigo-text-lighten-5{
    color: #e8eaf6;
}
.indigo-text-lighten-4{
    color: #c5cae9;
}
.indigo-text-lighten-3{
    color: #9fa8da;
}
.indigo-text-lighten-2{
    color: #7986cb;
}
.indigo-text-lighten-1{
    color: #5c6bc0;
}
.indigo-text{
    color: #3f51b5;
}
.indigo-text-darken-1{
    color: #3949ab;
}
.indigo-text-darken-2{
    color: #303f9f;
}
.indigo-text-darken-3{
    color: #283593;
}
.indigo-text-darken-4{
    color: #1a237e;
}
.indigo-text-accent-1{
    color: #8c9eff;
}
.indigo-text-accent-2{
    color: #536dfe;
}
.indigo-text-accent-3{
    color: #3d5afe;
}
.indigo-text-accent-4{
    color: #304ffe;
}

/*background color of indigo shades*/
.indigo-bg-lighten-5{
    background-color: #e8eaf6;
}
.indigo-bg-lighten-4{
    background-color: #c5cae9;
}
.indigo-bg-lighten-3{
    background-color: #9fa8da;
}
.indigo-bg-lighten-2{
    background-color: #7986cb;
}
.indigo-bg-lighten-1{
    background-color: #5c6bc0;
}
.indigo-bg{
    background-color: #3f51b5;
}
.indigo-bg-darken-1{
    background-color: #3949ab;
}
.indigo-bg-darken-2{
    background-color: #303f9f;
}
.indigo-bg-darken-3{
    background-color: #283593;
}
.indigo-bg-darken-4{
    background-color: #1a237e;
}
.indigo-bg-accent-1{
    background-color: #8c9eff;
}
.indigo-bg-accent-2{
    background-color: #536dfe;
}
.indigo-bg-accent-3{
    background-color: #3d5afe;
}
.indigo-bg-accent-4{
    background-color: #304ffe;
}
/**********************************************general styles ends**********************************************/
