/*
NOTE: The default font(sans-serif) and colors of elements are not modified. You need to modify them
by applying separate css styles, if needed.
 */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: 0;
}
html,
body {
    font-family: sans-serif;
    height: 100%; /* so that 'main' container can be set to 100% height
    /*font-family: 'Montserrat', sans-serif;*/   /*font-family: 'Scope One', serif;*/
}

main{ /* this rule will apply common to all screen sizes,namely, adjustment for top navbar */
    /* for smaller screens only adjustment is needed for top navbar and not for header and footer also
     i.e the side navbar will be displayed above, and consequently,cover the header and footer*/
    position: relative; /* so that it can be set away from top navbar and side navbar(in case of larger screens)*/
    padding-top: 4.2rem; /*to account for the top navbar i.e display everything just below the top navbar */
    min-height: 100%;
    padding-bottom: 6rem; /* so that the content of main-container doesn't disappear below the footer,
                            becoz of negative margin-top applied on footer, in case the content is large
                            note that padding is equal to footer's height*/
}


/**********************************************top NavBar styles begins*********************************************/
.top-nav-container{
    position: fixed; /* it should always remain at the top */
    display: flex; /*make it a flex container for easy layout of items inside it */
    width: 100vw;  /* make the width occupy entire screen */
    height: 4rem; /* the top navigation bar is set to height of 64px for small screens */
    align-items: center; /* center the items vertically */
    z-index: 100; /* above everything else except SideNav bar */
}
.top-nav-toggle-menu-icon{
    font-size: 30px;
    margin-right: 30px;/* gap from brand logo */
    margin-left: 10px; /*gap from left side of container*/
    cursor: pointer;
}

.top-nav-brand-link{} /*not used yet*/
/**********************************************top NavBar styles ends***********************************************/


/**********************************************side NavBar styles begins********************************************/
.side-nav-container{
    width: 19rem; /* width of container ~ 290 px*/
    height: 100vh; /* occupy entire view-height*/
    z-index: 1000; /* above everything else */
    position: fixed;/* so that it remains fixed at side and the main content is displayed below it(smaller screens) */
    display: flex;
    flex-direction: column;
    align-items: center;
    left: -19rem; /* keep it hidden until menu icon is pressed */
    transition: 250ms left cubic-bezier(1,0,0,1); /* for smooth display of side menu */
    top: 4rem; /* make offset for accounting the top navbar(for both smaller & larger screens) */
    overflow-x: hidden; /* Disable horizontal scroll */
}
.side-nav-container-open{ /* this rule is toggled, via javascript, when top navbar menu icon is clicked
                            so that the sidenav menu is displayed/hidden(both small & large screens)*/
    left: 0;
}
.side-nav-header{flex-basis: 200px} /*not used yet*/
.side-nav-header__image{ /* the size of header background image must be 300x200px */
    width: 100%;/*set the width to occupy entire width of SideNav header*/
    height: 200px;/* height of image is fixed at 200px*/
    background-size: cover; /*stretch the image to fit the width of header, if needed*/
    background: center,no-repeat;
}
.side-nav-menu{ /* div wrapper for menu links */
    width: 100%; /* div must occupy entire width of SideNav bar */
    text-align: center; /* center the links text */
    overflow: auto; /* display scroll bar if menu list items are more */
}
.side-nav-menu__list{
    list-style: none;

}
.side-nav-menu__list__item{
    margin-bottom: 1rem; /* gap between two link items */
}
.side-nav-menu__list__item__link{
    text-decoration: none;
    font-size: 1.5rem; /* font size of links text */
}

/**********************************************side NavBar styles ends********************************************/


/**********************************************Footer styles begins********************************************/
.footer-container{
    display: flex;
    width: 100vw; /* footer takes full view-width; side-menu appears over it(only on smaller screens)*/
    height: 6rem; /*height of footer is 80px */
    margin-top: -6rem; /* bring back the footer into the view by pulling it up by height equal to itself*/
    flex-direction: column;
    justify-content: space-around;

}
.footer-nav-list{
    display: flex;
    justify-content: space-around;
}
.footer-nav-list__item{
    list-style: none;
}
.footer-nav-list__item__link{
    text-decoration: none;
}
.footer-social-links-list{
    display: flex;
    justify-content: center;
    list-style: none;
}
.footer-social-links-list__item{
    padding: 0 .2rem;
    font-size: 1.3rem;
}
.footer-copyright-text{
    text-align: center;
    font-size: 0.7rem;
    font-style: italic;
}
/**********************************************Footer styles ends********************************************/

/**********************************************general styles begins**********************************************/

/* gives a padding of 1rem on all sides*/
.wrapper{
    padding: 1rem 1rem;
}

/*text color of indigo shades */
.indigo-text-lighten-5{
    color: #e8eaf6;
}
.indigo-text-lighten-4{
    color: #c5cae9;
}
.indigo-text-lighten-3{
    color: #9fa8da;
}
.indigo-text-lighten-2{
    color: #7986cb;
}
.indigo-text-lighten-1{
    color: #5c6bc0;
}
.indigo-text{
    color: #3f51b5;
}
.indigo-text-darken-1{
    color: #3949ab;
}
.indigo-text-darken-2{
    color: #303f9f;
}
.indigo-text-darken-3{
    color: #283593;
}
.indigo-text-darken-4{
    color: #1a237e;
}
.indigo-text-accent-1{
    color: #8c9eff;
}
.indigo-text-accent-2{
    color: #536dfe;
}
.indigo-text-accent-3{
    color: #3d5afe;
}
.indigo-text-accent-4{
    color: #304ffe;
}

/*background color of indigo shades*/
.indigo-bg-lighten-5{
    background-color: #e8eaf6;
}
.indigo-bg-lighten-4{
    background-color: #c5cae9;
}
.indigo-bg-lighten-3{
    background-color: #9fa8da;
}
.indigo-bg-lighten-2{
    background-color: #7986cb;
}
.indigo-bg-lighten-1{
    background-color: #5c6bc0;
}
.indigo-bg{
    background-color: #3f51b5;
}
.indigo-bg-darken-1{
    background-color: #3949ab;
}
.indigo-bg-darken-2{
    background-color: #303f9f;
}
.indigo-bg-darken-3{
    background-color: #283593;
}
.indigo-bg-darken-4{
    background-color: #1a237e;
}
.indigo-bg-accent-1{
    background-color: #8c9eff;
}
.indigo-bg-accent-2{
    background-color: #536dfe;
}
.indigo-bg-accent-3{
    background-color: #3d5afe;
}
.indigo-bg-accent-4{
    background-color: #304ffe;
}
/**********************************************general styles ends**********************************************/
